# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
airflow-blueprint>=0.2.0
duckdb==1.5.1
astronomer-cosmos==1.14.0
dbt-duckdb==1.10.1
apache-airflow-providers-snowflake>=6.16.0
apache-airflow-providers-dbt-cloud>=4.9.3
